HELP.md
application.properties
application.yaml
application-test.yaml
application-docker.yml
application-local.yml
.env
.env.*
.ai
.ai.*

/src/main/generated/

#동일한 버전 관리를 위해 "gradle/wrapper/*, gradlew*"는 공유
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.metadata/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/